/* ======================= */
/* ===== DEVELOPMENT ===== */
/* ======================= */

/*min-width: 30px; !* TEST ONLY *!*/
/*min-height: 70px; !* TEST ONLY *!*/

/*background-color: rgba(100, 0, 0, 0.2); /* TEST ONLY */
/*outline: 1px solid rgba(100, 0, 0, 0.8); !* TEST ONLY *!*/

/*background-color: rgba(0, 100, 0, 0.2); /* TEST ONLY */
/*outline: 1px solid rgba(0, 100, 0, 0.8); !* TEST ONLY *!*/

/*background-color: rgba(0, 0, 100, 0.2); /* TEST ONLY */
/*outline: 1px solid rgba(0, 0, 100, 0.8); !* TEST ONLY *!*/

.main-header,
main,
.main-footer {
  background-color: rgba(100, 0, 0, 0.2); /* TEST ONLY */
  outline: 1px solid rgba(200, 0, 0, 0.8); /* TEST ONLY */
}

.main-header .navigation,
.main-header .user-block,
main .logo,
main .features,
main .index-content,
.main-footer .contacts,
.main-footer .social,
.main-footer .copyright {
  background-color: rgba(0, 100, 0, 0.4); /* TEST ONLY */
  outline: 1px solid rgba(0, 200, 0, 0.8); /* TEST ONLY */
}

main .features article,
main .index-content .left-section,
main .index-content .right-section {
  background-color: rgba(0, 0, 100, 0.2); /* TEST ONLY */
  outline: 1px solid rgba(0, 0, 200, 0.8); /* TEST ONLY */
}

/* ================== */
/* ===== GLOBAL ===== */
/* ================== */

body,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix::after {
  content: "";
  display: table; /* QUEST: table */
  clear: both;
}

.layout-center {
  width: 940px;
  margin: 0 auto;
}

/* ======================== */
/* ===== .main-header ===== */
/* ======================== */

/*- .navigation -*/

.main-header .navigation {
  float: left;
  width: 790px;
}

.main-header .navigation li {
  float: left;
  padding: 26px 20px;
}

/*- .user-block -*/

.main-header .user-block {
  float: right;
  width: 110px;
  padding: 26px 20px;
  text-align: right;
}

/* ================ */
/* ===== main ===== */
/* ================ */

main {
  padding-top: 60px; /* QUEST: margin-top || margin-bottom to parent */
  padding-bottom: 65px;
}

/*- .logo -*/

main .logo {
  display: block;
  /*width: 368px; !* QUEST: ? || min-width || max-width *!*/
  /*height: 204px;  !* QUEST: -//- *!*/
  margin: 0 auto;
}

/*- .features -*/

main .features {
  margin-top: 25px;
}

main .features article {
  float: left;
  width: 300px;
}

main .features article:not(:last-child) {
  margin-right: 20px;
}

/*- .index-content -*/

main .index-content:first-of-type { /* QUEST: Как лучше это сделать? */
  margin-top: 80px;
}

main .index-content:not(:first-of-type) { /* QUEST: -//- */
  margin-top: 35px;
}

main .index-content {
  padding: 50px 80px;

}

main .index-content .left-section {
  float: left;
  width: 380px;
}

main .index-content .right-section {
  float: right;
  width: 300px;
}

/* ======================== */
/* ===== .main-footer ===== */
/* ======================== */

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
}

/*- .contacts -*/

.main-footer .contacts {
  float: left;
  width: 320px;
}

/*- .social -*/

.main-footer .social {
  float: left;
  width: 140px;
  margin-left: 80px; /* QUEST: ? */
}

/*- .copyright -*/

.main-footer .copyright {
  float: right;
  width: 140px;
}
