/* ================== */
/* ===== GLOBAL ===== */
/* ================== */

body {
  min-width: 960px;
  font: bold 14px/24px 'PT Sans Narrow', sans-serif;
  letter-spacing: 0.012em;
  text-transform: uppercase;
  color: white;
  background: black url("../img/main-bg.jpg") no-repeat center top;
}

body.inner-page {
  color: black;
  background: #f8f5f2 url("../img/pattern-bg.jpg") repeat;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;
  font: inherit;
  vertical-align: top;
  text-align: center;
  color: white;
  /*text-transform: uppercase;*/
  text-decoration: none;
  background-color: black;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #663d15;
}

.clearfix::after {
  content: "";
  display: table; /* QUEST: table */
  clear: both;
}

.layout-center {
  width: 940px; /* QUEST: min-width?*/
  margin: 0 auto;
}

/* ======================== */
/* ===== .main-header ===== */
/* ======================== */

.main-header {
  background-color: black;
}

.main-header a {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.main-header a:not(.logo):hover {
  background-color: #242424;
  /* TODO: add animation */
}

/* --- .navigation --- */

.main-header .navigation {
  float: left;
  width: 790px;
}

.main-header .navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-header .navigation li {
  /*position: relative; !* .active *!*/
  display: inline-block;
  vertical-align: top;
}

.main-header .navigation a {
  display: block;
  padding: 26px 19px;
}

.main-header .navigation .active {
  position: relative;
  /*background-color: transparent;*/
}

.main-header .navigation .active a:hover {
  background-color: transparent;
}

.main-header .navigation .active::after {
  position: absolute;
  content: "";
  right: 20px;
  left: 20px;
  bottom: 0;
  height: 5px;
  background-color: white;
}

.main-header .navigation .logo {
  float: left;
  padding-top: 22px;
  padding-bottom: 21px;
}

/* --- .user-block --- */

.main-header .user-block {
  float: right;
  max-width: 110px;
}

.main-header .user-block .login {
  position: relative;
  display: inline-block;
  padding: 26px 20px 26px 50px;
  vertical-align: top;
}

.main-header .user-block .login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 16px;
  background: transparent url(../img/sprite-icons.png) no-repeat -10px -294px;
  opacity: 0.3;
}

.main-header .user-block .login:hover::before {
  opacity: 1;
  /* TODO: add animation */
}

/* ================ */
/* ===== main ===== */
/* ================ */

main {
  padding-top: 60px;
  padding-bottom: 65px;
}

.inner-page main {
  padding-top: 52px;
  padding-bottom: 73px;
}

/* --- .logo --- */

main .logo {
  display: block;
  margin: 0 auto;
}

/* --- .features --- */

main .features {
  margin-top: 22px;
}

main .features article {
  float: left;
  width: 300px;
  text-align: center;
}

main .features article:not(:last-child) {
  margin-right: 20px;
}

main .features article h3 {
  position: relative;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
}

main .features article h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px; /* translate(-50%, 0) */
  background-color: white;
  transform: rotate(45deg);
}

main .features article p {
  margin: 0;
  padding: 0 5px;
}

/* --- .index-content --- */

main .index-content:first-of-type {
  margin-top: 76px;
}

main .index-content:not(:first-of-type) {
  margin-top: 35px;
}

main .index-content {
  padding: 50px 80px;
  color: black;
  background: url("../img/separate-line.png") no-repeat center,
  #f8f5f2 url("../img/pattern-bg.jpg");
}

main .index-content h2 {
  margin: 0 0 19px;
  font-size: 30px;
  line-height: 42px;
}

main .index-content p {
  margin: 0 0 25px;
}

main .index-content .left-section {
  float: left;
  width: 380px;
}

main .index-content .right-section {
  float: right;
  width: 300px;
}

main .index-content .news article {
  margin-bottom: 21px;
}

main .index-content .news article:last-of-type {
  margin-bottom: 28px;
}

main .index-content .news article p {
  margin-bottom: 0;
}

main .index-content .news article time {
  text-transform: none;
}

main .index-content .gallery {
  position: relative;
  height: 260px;
}

main .index-content .gallery .gallery-content {
  height: 164px;
  margin: 0;
  background-color: gray;
  border: 7px solid white;
}

main .index-content .gallery .btn {
  position: absolute;
  bottom: 0;
  box-sizing: border-box; /* QUEST: */
  width: 140px;
  margin: 0;
}

main .index-content .photo .prev {
  left: 0;
}

main .index-content .photo .next {
  right: 0;
}

main .index-content .reserv input {
  float: left;
  box-sizing: border-box;
  width: 140px;
  padding: 7px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: #f9f6f3;
}

main .index-content .reserv input:nth-child(2n) {
  margin-right: 0;
}

main .index-content .reserv input:focus {
  border: 2px solid #663d15;
}

/* TODO: +-:focus */

main .index-content .reserv .btn {
  width: 100%; /* border-box ??? */
}

/* --- .inner-page-header --- */

main .inner-page-header h1 {
  margin: 0;
  /*padding: 0;*/
  font-size: 30px;
  line-height: 42px;
}

main .inner-page-header .breadcrumbs {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  list-style: none;
}

main .inner-page-header .breadcrumbs li {
  position: relative;
  float: left;
  padding-right: 23px;
  margin-right: 15px;
}

main .inner-page-header .breadcrumbs li:not(:last-of-type)::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 8px;
  height: 8px;
  margin-top: -5px;
  /*margin-left: -4px;*/
  background-color: black;
  transform: rotate(45deg);
}

main .inner-page-header .breadcrumbs li a {
  color: black;
  text-decoration: none;
}

main .inner-page-header .breadcrumbs li a.current {
  color: #aba9a7;
}

main .inner-page-header .breadcrumbs li a:hover {
  text-decoration: underline;
}

/* --- .inner-content --- */

main .inner-content {
  /*margin-top: 47px;*/
}

/*main .inner-content h2 {*/
/*!*position: relative;*!*/
/*!*margin: 0;*!*/
/*text-align: center;*/
/*font-size: 48px;*/
/*line-height: 48px;*/
/*}*/

main .inner-content .big-heading {
  position: relative;
  margin-top: 47px;
  margin-bottom: 61px;
  text-align: center;
}

main .inner-content .big-heading h2 {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  padding: 0 28px;
  font-size: 48px;
  line-height: 48px;
  background: #f8f5f2 url("../img/pattern-bg.jpg") repeat;
}

main .inner-content h3 {
  margin-top: 55px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}

main .inner-content .big-heading::after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 2px solid black;
}

main .inner-content table {
  border-collapse: collapse;
}

main .inner-content table td {
  padding: 8px 15px;
  border: 2px solid black;
}

main .inner-content .custom-list-1 {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}

main .inner-content .custom-list-1 li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 13px;
}

main .inner-content .custom-list-1 li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 7px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: black;
}

main .inner-content .price-table {
  width: 100%;
}

main .inner-content .price-table td {
  width: 50%;
}

main .inner-content .price-table td:last-of-type {
  text-align: center;
}

main .inner-content .inner-column-left,
main .inner-content .inner-column-right {
  width: 460px;
}

main .inner-content .inner-column-left {
  float: left;
}

main .inner-content .inner-column-right {
  float: right;
}

main .inner-content .inner-column-left *:first-child,
main .inner-content .inner-column-right *:first-child {
  margin-top: 0;
}

main .inner-content .inner-column-left *:last-child,
main .inner-content .inner-column-right *:last-child {
  margin-bottom: 0;
}

main .inner-content .short-text {
  padding-right: 65px;
}

/* ====================== */
/* ===== .main-shop ===== */
/* ====================== */

main.main-shop {
  padding-bottom: 50px;
}

/* --- .filter --- */

.main-shop .filter {
  float: left;
  width: 220px;
  margin-top: 46px;
}

.main-shop .filter h2 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.main-shop .filter h2:not(:first-of-type) {
  margin-top: 47px;
}

.main-shop .filter ul {
  margin: 0;
  margin-top: 26px;
  padding: 0;
  list-style: none;
}

.main-shop .filter ul li {
  position: relative;
  /*margin: 20px 0 20px 45px;*/
  margin: 13px 0;
  padding-left: 43px;
}

.main-shop .filter ul input {
  display: none;
}

.main-shop .filter ul label {
  line-height: 12px;
  cursor: pointer;
}

/* _ checkbox _ */
.main-shop .filter .custom-checkbox {
  position: absolute;
  content: "";
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  border: 2px solid black;
}

.main-shop .filter input[type="checkbox"]:checked + .custom-checkbox::before,
.main-shop .filter input[type="checkbox"]:checked + .custom-checkbox::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: black;
  border-radius: 1px;
}

.main-shop .filter input[type="checkbox"]:checked + .custom-checkbox::before {
  transform: rotate(45deg);
}

.main-shop .filter input[type="checkbox"]:checked + .custom-checkbox::after {
  transform: rotate(-45deg);
}

/* _ radio _ */
.main-shop .filter .custom-radio {
  position: absolute;
  content: "";
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 2px solid black;
}

.main-shop .filter input[type="radio"]:checked + .custom-radio::before,
.main-shop .filter input[type="radio"]:checked + .custom-radio::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: black;
}

.main-shop .filter input[type="radio"]:checked + .custom-radio::before {
  transform: rotate(45deg);
}

.main-shop .filter input[type="radio"]:checked + .custom-radio::after {
  transform: rotate(-45deg);
}

.main-shop .filter button {
  text-transform: inherit;
  margin-top: 30px;
}

/* --- .shop --- */

.main-shop .shop {
  float: right;
  width: 700px;
  margin-top: 51px;
  font-size: 0;
}

.main-shop .shop .item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-shop .shop .item:not(:nth-of-type(3n)) {
  margin-right: 19px;
}

.main-shop .shop .item h2 {
  padding: 2px 16px; /* QUEST: top/bottom margin ??? */
  /*background-color: green;*/
  /*padding: 0;*/

  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.main-shop .shop .item h2 a {
  text-decoration: none;
  color: black;
}

.main-shop .shop .item h2 span {
  text-transform: none;
}

.main-shop .shop .item .buy {
  position: relative;
  margin: 10px 16px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  background-color: #e5e5e5;
}

.main-shop .shop .item .buy .price {
  padding: 13px 30px;
  color: black;
}

.main-shop .shop .item .buy .btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 18px;
  margin: 0;
}

/* --- .paginator --- */

.main-shop .paginator {
  margin-top: 25px;
}

.main-shop .paginator .btn {
  font-size: 14px;
  line-height: 18px;
  padding: 12px 18px;
  margin-right: 7px;
}

.main-shop .paginator .btn.active {
  background-color: white;
  color: black;
}

/* ====================== */
/* ===== .main-item ===== */
/* ====================== */

main.main-item {
  padding-bottom: 37px;
}

/* --- .photos --- */

.main-item .photos {
  float: left;
  width: 460px;
  margin-top: 52px;
  font-size: 0;
  /*background-color: #d0d0d0;*/
}

.main-item .photos img {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-item .photos .other-photos {
  margin-top: 9px;
}

.main-item .photos .other-photos img {
  width: 140px;
  height: auto;

}

.main-item .photos .other-photos img:not(:last-of-type) {
  margin-right: 20px;
}

.main-item .photos .other-photos img:last-of-type {
  margin-right: -1px;
}

/* --- .description --- */

.main-item .description {
  float: right;
  width: 380px;
  padding-right: 10px;
  margin-top: 72px;
  /*background-color: green;*/
}

.main-item .description .article-id {
  float: right;
  color: #aeaeae;
}

.main-item .description p {
  margin-top: 30px;
}

.main-item .description .buy {
  position: relative;
  width: 187px;
  margin-top: 34px;
  font-size: 14px;
  line-height: 18px;
  background-color: #e5e5e5;
}

.main-item .description .buy .price {
  padding: 13px 30px;
  color: black;
}

.main-item .description .buy .btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 18px;
  margin: 0;
}

.main-item .description b {
  display: block;
  margin-top: 62px;
  /*padding-top: 60px;*/
  font-size: 24px;
  line-height: 30px;
}

.main-item .description ul {
  margin: 27px 0;
  padding: 0;
  list-style: none;
}

.main-item .description ul li {
  position: relative;
  padding-left: 20px;
  /*margin-bottom: 0;*/
}

.main-item .description ul li::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 7px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: black;
}

/* ======================== */
/* ===== .main-footer ===== */
/* ======================== */

.main-footer {
  padding-top: 58px;
  padding-bottom: 40px;
  background: #222222 url("../img/pattern-footer.png");
  color: white;
}

.main-footer.inner-page-footer {
  box-shadow: inset 0 30px 40px -15px black;
}

.main-footer p { /* QUEST: tag? */
  margin: 0;
  /*margin: 0 0 14px;*/
}

/* --- .contacts --- */

.main-footer .contacts {
  float: left;
  width: 320px;
}

.main-footer .contacts a {
  color: white;
}

.main-footer .contacts a:hover {
  text-decoration: none;
}

/* --- .social --- */

.main-footer .social {
  float: left;
  width: 160px;
  margin-left: 70px; /* QUEST: ? */
  text-align: center;
}

.main-footer .social p {
  margin-bottom: 14px;
}

.main-footer .social .btn-social {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  text-decoration: none; /* ? */
  vertical-align: top;
  background: black url("../img/sprite-icons.png") no-repeat center;
  transition: background-position 0.5s, background-color 0.5s;
}

.main-footer .social .btn-social:hover {
  background-color: white;
}

.main-footer .social .btn-social.vk {
  background-position: -10px -330px;
}

.main-footer .social .btn-social.vk:hover {
  background-position: -10px -393px;
}

.main-footer .social .btn-social.fb {
  background-position: -10px -42px;
}

.main-footer .social .btn-social.fb:hover {
  background-position: -10px -105px;
}

.main-footer .social .btn-social.in {
  background-position: -10px -168px;
}

.main-footer .social .btn-social.in:hover {
  background-position: -10px -231px;
}

/* --- .copyright --- */

.main-footer .copyright {
  float: right;
  max-width: 180px;
  text-align: center;
}

.main-footer .copyright p {
  margin-bottom: 14px;
}

.main-footer .copyright .btn {
  margin-right: 0;
}

.main-footer .copyright .btn:hover {
  color: black;
  background-color: white;
}

/* ================= */
/* ===== modal ===== */
/* ================= */

.modal-close {
  position: absolute;
  top: 5px;
  right: -37px;
  width: 30px;
  height: 30px;
  /*background-color: green;*/
  background-color: transparent;
  font-size: 0;
  border: none;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  left: 2px;
  top: 13px;
  width: 26px;
  height: 4px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* --- .modal-login --- */

.modal-login {
  z-index: 110;
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  /*height: 200px;*/
  padding: 50px 80px;
  /*transform: translate(-50%, 0);*/
  background: #f8f5f2 url("../img/pattern-bg.jpg") repeat;
  color: black;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
  margin: 0;
  font-size: 30px;
  line-height: 42px;
}

.modal-login p {
  margin-top: 20px;
}

.modal-login form {
  margin-top: 20px;
}

.modal-login input[type="text"],
.modal-login input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  font: inherit;
  /*font-size: 14px;*/
  /*line-height: 24px;*/
  text-transform: inherit;
  color: inherit;
  border: 2px solid black;
  margin-bottom: 10px;
  background-color: #f8f5f2;
  padding: 10px 40px 8px 15px;
}

.modal-login input:focus {
  border-color: RED;
}

.modal-login input.login {
  background-image: url("../img/icon-login.png");
  background-repeat: no-repeat;
  background-position: 270px center;
}

.modal-login input.pass {
  background-image: url("../img/icon-pass.png");
  background-repeat: no-repeat;
  background-position: 270px center;
}

.modal-login .restore {
  float: right;
  color: black;
}

.modal-login .btn {
  width: 100%;
  margin-top: 15px;
}

.modal-login input[type="checkbox"] {
  display: none;
}

.modal-login .login-check {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.modal-login .login-check:hover {
  color: #663d15;
}

/*.modal-login input[type="checkbox"] + .check-target {*/
.modal-login .check-target {
  position: absolute;
  /*content: "";*/
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid black;
}

.modal-login input[type="checkbox"]:checked + .check-target::before,
.modal-login input[type="checkbox"]:checked + .check-target::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: black;
}

.modal-login input[type="checkbox"]:checked + .check-target::before {
  transform: rotate(45deg);
}

.modal-login input[type="checkbox"]:checked + .check-target::after {
  transform: rotate(-45deg);
}

/* --- .modal-map --- */

.modal-map {
  display: none;
  z-index: 110;
  position: fixed;
  width: 766px;
  height: 561px;
  /*top: 50%;*/
  /*left: 50%;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /*transform: translate(-50%, -50%);*/
  background: #e9e5dc url("../img/map.jpg");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

/* --- .modal-overlay --- */

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}

/* --- .js-modal-show --- */

@keyframes bounce {
  00% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.js__modal-show {
  display: block;
  animation: bounce 0.6s;
}

/* --- .js-modal-error --- */

@keyframes shake {
  0%, 100% {
    transform: translateX(0px);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.js__modal-error {
  animation: shake 0.6s;
}
